{% extends "base.html" %}

{% block content %}
<h1>Географические определения</h1>
<li class="divider"></li>
<ol>
    <li>
       <p class="defs"> Анклав - это часть территории государства, окружённая со всех сторон другими государствами и не имеющая морского берега. Если Анклав имеет морской берег, то его называют полуанклавом</p>
    </li>

    <li>
       <p class="defs"> Гидроэлектростанция (ГЭС) - Система сооружений, посредством которых энергия потока воды преобразуется в электрическую</p>
    </li>
    <li>
       <p class="defs"> Импорт -Ввоз товаров в страну из других государств</p>
    </li>
    <li>
       <p class="defs"> Экспорт -Вывоз товаров из страны в другие государства</p>
    </li>
    <li>
       <p class="defs"> Район -Территория, выделяемая на основании определенных показателей: экономических, социальных, физико-географических, административных, ресурсных, экологических</p>
    </li>
    <li>
       <p class="defs"> Себестоимость продукции -Сумма всех затрат предприятий на производство продукции и ее реализацию (продажу)</p>
    </li>
    <li>
       <p class="defs"> Специализация -Сосредоточение в районе производства определённой продукции, значительная часть которой предназначена для межрайонного обмена</p>
    </li>
    <li>
       <p class="defs"> Фактор -Основное условие какого-либо процесса, в том числе размещения производства</p>
    </li>
    <li>
       <p class="defs"> Федерация -Форма государственного устройства, при которой несколько государств образуют одно союзное государство</p>
    </li>
    <li>
       <p class="defs"> Экономико-географическое положение (ЭГП) -Отношение данного объекта (промышленного предприятия, города, района) к объектам, находящимся вне его (транспортным путям, районам, государственным границам, крупнейшим промышленным базам), оказывающим определённое влияние на его развитие</p>
    </li>
    <li>
        <p class="defs">Республика - это ... </p>
        <p class="example">Примеры:</p>
        <ul>
            <li>
                Башкортостан
            </li>
            <li>
                Дагестан
            </li>
            <li>
                Карачаево-Черкессия
            </li>
        </ul>

    </li>

    <li>
        <p class="defs">Автономный округ - обладает собственным законодательством обладает собственной территорией (не может быть изменена без согласия субъекта) и населением; самостоятелен в решении вопросов, отнесённых к ведению субъектов Российской Федерации (в пределах полномочий автономного округа); </p>
        <p class="example">Примеры:</p>
        <ul>
            <li>
                Еврейский автономный округ
            </li>

        </ul>
    </li>

    <li>
        <p class="defs">Область - это крупная административно-территориальная единица. </p>

        <p class="example">Примеры:</p>
        <ul>
            <li>
                Московская область
            </li>
            <li>
                Амурская область
            </li>
            <li>
                Калининградская область
            </li>
        </ul>
    </li>
</ol>
<div class="go_to_homepage">
        <a class="go_to_homepage" href="{{url_for('Geo_Core')}}"> Перейти на главную</a>
    </div>
{% endblock %}