<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style_def.css">
    <meta charset="UTF-8">
    <title>Geo_Core</title>
</head>
<body>
<h1>Географические определения</h1>
<ol>
    <li>
       <p class="defs"> Субъект - это ...</p>
    </li>

    <li>
        <p class="defs">Республика - это ... </p>
        <ul>
            <p class="example">Примеры:</p>
            <li>
                Башкарстан
            </li>
            <li>
                Данестан
            </li>
            <li>
                Карачаево-Черкессия
            </li>
        </ul>

    </li>

    <li>
        <p class="defs">Автономный округ - это ... </p>
        <ul>
            <p class="example">Примеры:</p>
            <li>
                Еврейский автономный округ
            </li>

        </ul>
    </li>

    <li>
        <p class="defs">Область - это ... </p>
        <ul>
            <p class="example">Примеры:</p>
            <li>
                Московская область
            </li>
            <li>
                Амурская область
            </li>
            <li>
                Калининградская область
            </li>
        </ul>
    </li>
</ol>
</body>
</html>