<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Future works</title>
</head>
<body bgcolor="#FFF8DC">
    <h1> Планы на дороботку в будущем</h1>
    <ul>
        <li>
            Планирую добавить больше полезных функций
        </li>
        <li>
            Также планируется добавить множество различных определений и контурных карт
        </li>
        <li>
            Интересно было бы расширить поиски городов до масштаба других стран
        </li>
        <li>
            Хотелось бы добавить больше красоты сайту
        </li>
    </ul>
    <div class="go_to_homepage">
        <a class="go_to_homepage" href="{{url_for('Geo_Core')}}"> Перейти на главную</a>
    </div>
</body>
</html>